<li ng-repeat="item in items">
    Titolo: {{item.Title}}<br />
    Autore: {{item.Author}}<br />
    E-mail: {{item.Email}}<br />
    Locazione: {{item.Location}}<br />
    Creato il: {{item.Created}}
</li>
