
@{
    ViewBag.Title = "Index";
}

<h2>Cosa vuoi fare?</h2>

<ul>
    <li>@Html.ActionLink("Upload immagine o video", "Index", "Upload")</li>
    <li>@Html.ActionLink("Approva candidature", "Index", "Approve")</li>
    <li>@Html.ActionLink("Visualizza risultati", "Index", "View")</li>
</ul>

